body {
  font-size: 120%;
  background:#003336;
}
button {
  padding: 15px 32px;
  font-size: 15px;
  color: white;
  background: #000000;
  border: none;
  border-radius: 10px;
 cursor: pointer;
}
.btn:hover {
    		    background-color: #555555;
    		    color: white;
    		    }